{% extends "base.html" %}

{% block content %}
			<div class="content align-center">
				<h1>Mis fotos</h1>
				<div class="photos centering-fix">
					{% for picture in pictures %}
					<div class="photo">
						<div class="media">
							<a href="/pictures/view/{{ picture.pk }}">
								<img src="{{ picture.get_url }}" alt="coca_cola_logo"/>
							</a>
						</div>
						<div class="tags">
							{% for brand in picture.brands.all %}
							<span class="tag">{{ brand }}</span>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
					<div class="clear-fix">&nbsp;</div>
				</div>
			</div>
{% endblock %}