{% extends "base.html" %}

{% block media-css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/magicsuggest-1.1.1.css">
{% endblock %}

{% block media-js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/class-0.0.2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/magicsuggest-1.1.1.js"></script>
<script type="text/javascript">
$(document).on('ready', function(){
	var brands
	brands = new MagicSuggest({
                renderTo: $('#brands-input'),
                emptyText:'Escribe Aqui',
                noSuggestionText : 'Sin Sugerencias',
                required: true,
                data:'/brands_json/',
                method: 'GET',
                valueField:'name',
		});
	$('#submit-post').on('click', function(e){
		e.preventDefault()
		var brands_input = brands.getValue()
		$('#brands').val(brands_input)
		$('#form-post-picture').submit()
	})
});
</script>
{% endblock %}

{% block content %}
			<div class="content align-center">
				<h1 class="align-center">Expresa el amor que sientes por tus marcas favoritas</h1>
				<form id="form-post-picture" class="centering-fix" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
					<p id="file-uploader-paragraph">
						<h4>Sube una foto con la marca que amas</h4>
						{{ form.picture }}
						{{ form.picture.errors }}
						<a class="button" id="file-uploader-button" style="background:#0D89E9">
							Seleccionar foto
						</a>
						<script>
							$(window).load(function () {
								$('#file-uploader-input').hide();
								var button = $('#file-uploader-button');
								button.on('click', function () {
									$('#file-uploader-input').click();
								});
								
							});
						</script>
					</p>
					
					<div id="wrapper-brands">
						<h4>Que marcas aparecen en la foto?</h4>
						<input type="text" id="brands-input">
						<input type="hidden" id="brands" name="brands">
						{{ form.brands.errors }}
					</div>

					<p>
						<h4>Descripción</h4>
						{{ form.description }}
						{{ form.description.errors }}
					</p>
					<input id="submit-post" class="button green" type="submit" value="Subir"/>
				</form>
			</div>
{% endblock %}