{% extends "base.html" %}

{% block content %}
			<div class="content align-center">
				<div class="align-left photo-info">
					<div class="photo-info-media">
						<img src="{{ picture.get_url }}" alt="Foto de la marca" />
					</div>
					
					<h2>Patrocinios</h2>
					<div class="tags">
						{% for brand in picture.brands.all %}
						<span class="tag">{{ brand }}</span>
						{% endfor %}
					</div>
					
					<h2>Descripción</h2>
					<p class="description">
						{{ picture.description }}
					</p>
					
					<h2>Premios por esta foto</h2>
					<ul class="rewards">
						{% for award in picture.awards.all %}
						<li>{{ award }}</li>
						{% empty %}
						<li>Aun no tienes premios</li>
						{% endfor %}
					</ul>
					
					<div class="clear-fix">&nbsp;</div>
				</div>
			</div>
{% endblock %}