<footer class="hidden-phone">
<section class="row-fluid">
	<div class="span2 text-center">
		<a class="font1 size20" href="#">Contacto</a>
	</div>
	<div class="span2 text-center">
		<a class="font1 size20" href="#">Terminos y Condiciones</a>
	</div>
	<div class="span2 text-center">
		<a class="font1 size20" href="#">Politica de Privacidad</a>
	</div>
	<div class="span2 text-center">
		<a class="font1 size20" href="#">Preguntas Frecuentes</a>
	</div>
	<div class="span2 text-center">
		<a class="font1 size20" href="#">Solución de Conflictos</a>
	</div>
	<div class="span2 text-center">
		<a class="font1 size20" href="#">Acerca de</a>
	</div>
</section>
<section class="text-center margin10">
	<a href="http://brainn.co">brainn company © 2013</a>
</section>
</footer>

