        <div class="footer">
            <div class="links f-left">
                <a href="#">Conócenos</a>
                <a href="#">Contacto</a>
                <a href="#">Términos y Condiciones</a>
                <a href="#">Política de Privacidad</a>
            </div>
            
            <div class="social f-right">
                <a href="">
                    <img src="/media/img/facebook.png" alt="facebook" />
                </a>
                <a href="">
                    <img src="/media/img/twitter.png" alt="twitter" />
                </a>
            </div>
            
            <div class="clear-fix">&nbsp;</div>
            
            <div class="copyright">
                brainn company &copy; 2013
            </div>
        </div>